<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
           <h2>求人情報詳細</h2>
          <% if @job_information.hospital_id == current_hospital.id %>
            <%= form_with url:employer_subscriptions_index_path, method: :get, local: true do |f| %>
              <%= f.hidden_field:job_information_id, :value => @job_information.id %>
              <%= f.submit "応募者一覧", class: "btn btn-secondary ml-3" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-3 ml-auto">
      <%= image_tag @job_information.hospital.get_image(250, 150) %><br>
      病院名
      <%= @job_information.hospital.name %>
    </div>
    <div class="col-lg-8">
      タイトル　　　<%= @job_information.title %><br>
      勤務形態　　　<%= @job_information.work_style %><br>
      給与　　　　　<%= @job_information.alarys %><br>
      仕事内容・詳細<br>
      <%= @job_information.job_detail %>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-4">
        <% if @job_information.hospital_id == current_hospital.id %>
          <%= link_to "編集する", edit_employer_job_information_path, class: "btn btn-secondary mt-3" %>
          <%= link_to "消去する", employer_job_information_path(@job_information), method: :delete, data: { confirm: '削除しますか？' },  class: "btn btn-danger mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
