<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
          <h2>マイページ</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-3 ml-auto">
      <%= image_tag @hospital.get_image(250, 150) %><br>
      <h4><%= @hospital.name %></h4>
      <%= link_to "編集する", edit_employer_hospitals_path, class: "btn btn-secondary w-75 mt-3" %>
    </div>
    <div class="col-lg-8 ml-auto">

    <div class="profile">
      <ul class="profile-list">
        <li class="profile-tab box-active"><i class="far fa-copy"></i>求人情報</li>
        <li class="profile-tab"><i class="fas fa-star"></i>スカウト</li>
        <li class="profile-tab"><i class="fas fa-envelope"></i>メッセージ</li>
      </ul>
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <div class="d-flex align-items-center justify-content-center">
          投稿した求人情報一覧
          <%= link_to new_employer_job_information_path, class: "btn btn-secondary w-25 justify-content-center ml-lg-5" do %>
            <i class="far fa-edit"></i>新規作成
          <% end %>
          </div>
          <% @job_informations.each do |job_information| %>
            <div class="job_informations-box">
              <%= link_to job_information.title, employer_job_information_path(job_information), class: "link-warning" %><br>
              勤務形態　　<%= job_information.work_style %><br>
              給与　　　　<%= job_information.alarys %><br>
              <%= @hospital.display_job_offer_status(job_information.job_offer_status) %>
              <!--display_job_offer_statusはモデルに定義　公開・非公開を文字化-->
            </div>
          <% end %>
          <div class="d-flex align-items-center justify-content-center">
            <%= paginate @job_informations %>
          </div>
        </div>
        <div class="tabbox">
          <% @scouts.each do |scout| %>
          <% if scout.nurse.job_seeking_status == true %>
            <div class="job_informations-box">
              <div class="row p-1">
                <div class="col-sx-10 col-sm-3">
                  <%= image_tag scout.nurse.get_image(130, 110), class: "rounded-circle" %>
                </div>
                <div class="col-sx-10 col-sm-7">
                  <%= link_to scout.nurse.display_name(scout.nurse), employer_nurse_path(scout.nurse), class: "link-warning" %><br>
                  <%= scout.nurse.qualification %><br>
                  <%= scout.nurse.address %><br>
                </div>
              </div>
            </div>
          <% end %>
          <% end %>
          <div class="d-flex align-items-center justify-content-center">
            <%= paginate @scouts %>
          </div>
        </div>
        <div class="tabbox">
          <% @chat_rooms.each do |chat_room| %>
          <div class="job_informations-box">
            <div class="row p-1">
              <div class="col-sx-10 col-sm-3">
                <%= image_tag chat_room.nurse.get_image(80, 55) %><br>
                <%= link_to chat_room.nurse.display_name(chat_room.nurse), chat_room_chats_path(chat_room), class: "link-warning" %>
              </div>
              <div class="col-sx-10 col-sm-7">
                <% @chats = chat_room.chats %>
                <% @chat = chat_room.chats.order(created_at: :desc).first %>
                <%= @chat.message.truncate(50) %><br>
                <%= @chat.created_at %>
              </div>
            </div>
          </div>
          <% end %>
          <div class="d-flex align-items-center justify-content-center">
            <%= paginate @chat_rooms %>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>