<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
          <h2><%= @nurse.display_name(@nurse) %>さんのプロフィール</h2>
          <%= render "employer/scouts/scout-btn", nurse: @nurse %>
       </div>
      </div>
    </div>
    <div class="col-lg-3 ml-auto">
      <%= image_tag @nurse.get_image(300, 240), class: "rounded-circle" %><br>
    </div>
    <div class="col-lg-8">
      資格　　　<%= @nurse.qualification %><br>
      在住地　　<%= @nurse.address %><br>
      生年月日　<%= @nurse.birthday %><br>
      備考<br>
      <%= @nurse.introduction %>
    </div>
      <div class="row">
        <div class="col-lg-3 mr-auto">
          <% if @chat_room.nil? %>
            <%= form_with model:ChatRoom.new, url: chat_rooms_path, method: :post do |f| %>
              <%= f.hidden_field :hospital_id, :value => current_hospital.id %>
              <%= f.hidden_field :nurse_id, :value => @nurse.id %>
              <%= f.submit "メッセージを送る", class: "btn btn-secondary mt-3" %>
              <% end %></div>
          <% else %>
              <%= link_to "メッセージを送る", chat_room_chats_path(@chat_room), class: "btn btn-secondary mt-3" %>
          <% end %>
            </div>
        <div class="col-sm-3">
通報
        </div>
      </div>
