<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
          <h2><%= @nurse.display_name(@nurse) %>さんのプロフィール</h2>
          <%= render "employer/scouts/scout-btn", nurse: @nurse, notification: @notification %>
        </div>
      </div>
    </div>
    <div class="col-lg-3 ml-auto">
      <% if @nurse.image.attached? %>
        <%= image_tag @nurse.image, size: "200x200", class: "rounded-circle" %>
      <% else %>
        <%= image_tag 'no-image-nurse.jpg', size: "200x200", class: "rounded-circle" %>
      <% end %>
    </div>
    <div class="col-lg-8">
      資格　　　<%= @nurse.qualification %><br>
      在住地　　<%= @nurse.address %><br>
      生年月日　<%= @nurse.birthday %><br>
      備考<br>
      <%= @nurse.introduction %>
    </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-3 ml-auto">
          <% if @chat_room.nil? %>
            <%= form_with model:ChatRoom.new, url: chat_rooms_path, method: :post do |f| %>
              <%= f.hidden_field :hospital_id, :value => current_hospital.id %>
              <%= f.hidden_field :nurse_id, :value => @nurse.id %>
              <%= f.submit "メッセージを送る", class: "btn btn-secondary mt-3" %>
              <% end %>
          <% else %>
            <%= link_to "メッセージを送る", chat_room_chats_path(@chat_room), class: "btn btn-secondary mt-3" %>
          <% end %>
        </div>
       <div class="col-lg-3 mr-auto d-inline">
          <%= form_with url: report_new_mail_path, method: :get, local: true do |f| %>
            <%= f.hidden_field :sender, :value => current_hospital.id %>
            <%= f.hidden_field :reported_user, :value => @nurse.id %>
             <!--報告者と報告された者のidは同一のものが存在するので、nurse_or_hospitaiでどちらのものか見分ける。-->
             <!--nurse_or_hospitaiに通報者のユーザーの種類を入れる。-->
            <%= f.hidden_field :nurse_or_hospitai, :value => "hospital" %>
            <%= f.submit "通報する", class: "btn btn-danger mt-3" %>
          <% end %>
        </div>
      </div>
  </div>
</div>
