<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-lg-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
          <h2><%= @hospital.name %>　プロフィール</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-sm-4 col-md-4">
      <%= image_tag @hospital.get_image(300, 240) %><br>
    </div>
    <div class="col-xs-8 col-sm-5 col-md-6">
        病院名　　<%= @hospital.name %><br>
        郵便番号　<%= @hospital.postal_code %><br>
        住所　　　<%= @hospital.address %><br>
        電話番号　<%= @hospital.phone_number %><br>
        紹介文　　<%= @hospital.Introduction %><br>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-3 ml-auto d-inline">
        <%= form_with url: report_new_mail_path, method: :get, local: true do |f| %>
            <%= f.hidden_field :destination, :value => @hospital.email %>
            <%= f.submit "メールを送る", class: "btn btn-secondary" %>
          <% end %>
        </div>
        <div class="col-3">
          <%= link_to "退会処理", admin_hospital_confirm_path(@hospital), class: "btn btn-danger" %>
        </div>
    </div>
  </div>
</div>