 <!--メッセージの送り手が看護師の場合sender == true、病院の場合sender == false-->
      <!--true、false自分が送った方のメッセージを判断し右寄せにする-->
      <% chats.each do |chat| %>
        <div class="row align-items-center justify-content-center">
          <% if nurse_signed_in? %>
            <% if chat.sender == true %>
            <!--自分は看護師で、自分が送ったメッセージのため右寄せ-->
              <div class="col-10 ml-auto">
                <div class="my_message">
                <%= chat.message %>
                <%= image_tag chat.image.variant( resize: "500x600>" ) if chat.image.attached? %>
                  <div class="my_down_triangle">
                    ▶
                  </div>
                </div>
                <div class="col-10 ml-auto">
                <%= chat.created_at %>
                </div>
              </div>
            <% else %>
            <!--自分は看護師で、相手の病院が送ったメッセージのため左寄せ-->
              <div class="col-10 mr-auto">
                <div class="your_message">
                  <%= chat.message %>
                  <%= image_tag chat.image.variant( resize: "500x600>" ) if chat.image.attached? %>
                  <div class="your_down_triangle">
                      ◀
                  </div>
                </div>
                <div class="col-10 mr-auto">
                <%= chat.created_at %>
                <%= image_tag chat_room.hospital.get_image(40,40), class: "rounded-circle" %>
                </div>

            <% end %>
          <% elsif hospital_signed_in? %>
          <!--自分は病院で、自分が送ったメッセージのため右寄せ-->
              <% if chat.sender == false %>
                <div class="col-10 ml-auto">
                  <div class="my_message">
                    <%= chat.message %>
                    <%= image_tag chat.image.variant( resize: "500x600>" ) if chat.image.attached? %>
                    <div class="my_down_triangle">
                      ▶
                    </div>
                  </div>
                  <div class="col-10 ml-auto">
                    <%= chat.created_at %>
                    <%= image_tag current_hospital.get_image(40,40), class: "rounded-circle" %>
                  </div>
                </div>
              <% else %>
              <!--自分は病院で、相手の看護師が送ったメッセージのため左寄せ-->
                <div class="col-10 mr-auto">
                  <div class="your_message">
                    <%= chat.message %>
                    <%= image_tag chat.image.variant( resize: "500x600>" ) if chat.image.attached? %>
                    <div class="your_down_triangle">
                      ◀
                    </div>
                  </div>
                  <div class="col-10 mr-auto">
                    <%= chat.created_at %>
                    <%= image_tag @chat_room.nurse.get_image(40,40), class: "rounded-circle" %>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      <% end %>
      </div>

