<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
          <h2>会員看護師一覧</h2>
          <%= link_to "会員病院・企業一覧", admin_hospitals_path, class: "btn btn-secondary ml-3" %>
          <%= form_with url: admin_search_nurse_path, local: true, method: :get do |f| %>
            <%= f.label :"ID:", class: "ml-3" %>
            <%= f.text_field :word %>
            <%= f.submit "検索" %>
          <% end %>
　　    </div>
      </div>
    </div>
    <div class="col-lg-11">
      <% @nurses.each do |nurse| %>
        <div class="job_informations-box p-2">
          <div class="row">
            <div class="col-3">
              <% if nurse.image.attached? %>
                <%= image_tag nurse.image, size: "120x90", class: "rounded-circle" %>
              <% else %>
                <%= image_tag 'no-image-nurse.jpg', size: "120x90", class: "rounded-circle" %>
              <% end %>
            </div>
            <div class="col-7">
              <%= link_to nurse.display_name(nurse), admin_nurse_path(nurse), class: "link-warning" %><br>
              保有資格　　<%= nurse.qualification %><br>
              現住所　　　　<%= nurse.address %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="d-flex align-items-center justify-content-center">
        <%= paginate @nurses %>
      </div>
    </div>
  </div>
</div>