<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
          <h2><%= @nurse.display_name(@nurse) %>さんのプロフィール</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-3 ml-auto">
      <% if @nurse.image.attached? %>
        <%= image_tag @nurse.image, size: "200x200", class: "rounded-circle" %>
      <% else %>
        <%= image_tag 'no-image-nurse.jpg', size: "200x200", class: "rounded-circle" %>
      <% end %>
    </div>
    <div class="col-lg-8">
      資格　　　<%= @nurse.qualification %><br>
      在住地　　<%= @nurse.address %><br>
      生年月日　<%= @nurse.birthday %><br>
      備考<br>
      <%= @nurse.introduction %>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-xs-4 col-md-4 my-3">
        <%= form_with url: report_new_mail_path, method: :get, local: true do |f| %>
          <%= f.hidden_field :destination, :value => @nurse.email %>
          <%= f.submit "メールを送る", class: "btn btn-secondary" %>
        <% end %>
      </div>
      <div class="col-xs-4 col-md-4 my-3">
        <%= link_to "退会処理", admin_nurse_confirm_path(@nurse), class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

