<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-10">
      <div class="d-flex align-items-center justify-content-center">
        <h2>こちらの求人に応募しますか？</h2>
      </div>
    </div>
  </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-10">
            <div class="d-flex align-items-center justify-content-center">
              <% if nurse_signed_in? %>
                <%= form_with model:@subscription, url: worker_subscriptions_path, method: :post, local: true do |f| %>
                  <%= f.hidden_field :job_information_id, :value => @job_information %>
                  <%= f.hidden_field :nurse_id, :value => current_nurse.id %>
                <%= f.submit "応募する", class: "btn btn-secondary m-3" %>
                <% end %>
              <% end %>
                <%= link_to "戻る", :back, class: "btn btn-secondary m-3" %>
            </div>
          </div>
        </div>
</div>