<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center mt-7">
          <h2>応募一覧</h2>
        </div>
      </div>
    </div>
    <% @subscriptions.each do |subscription| %>
    <div class="job_informations-box p-2">
      <div class="row">
        <div class="col-3">
          <% nurse = Nurse.find_by(id: subscription.nurse_id) %>
          <%= image_tag nurse.get_image(150, 90), class: "rounded-circle" %>
        </div>
       <div class="col-7">
          <%= link_to nurse.display_name(nurse), employer_nurse_path(nurse.id), class: "link-warning" %><br>
          保有資格　　<%= nurse.qualification %><br>
          現住所　　　　<%= nurse.address %><br>
          <%= subscription.created_at %>
        </div>
      </div>
    </div>
   <% end %>
  </div>
</div>

